################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DLL
/LIB
/union-api/DLL
/union-api/LIB
