################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DLL
/LIB
/union-api/DLL
/union-api/LIB
/EXE
/EXEd
/union-api/EXE
/union-api/EXEd
